/* 1600px 이하일 때의 스타일 */
@media (max-width: 1700px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    width: 500px;
  }
  .main-board-font tr {
    font-size: 14px !important;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }
}

@media (max-width: 1665px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    width: 450px;
  }
  .main-board-font tr {
    font-size: 12px !important;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }
}

@media (max-width: 1603px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    width: 400px;
  }
  .main-board-font tr {
    font-size: 12px !important;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }
}

@media (max-width: 1542px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    width: 300px;
  }
  .main-board-font tr {
    font-size: 9px !important;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }
}

@media (max-width: 1512px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    width: 300px;
  }
  .main-board-font tr {
    font-size: 9px !important;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }

}

@media (max-width: 1430px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 400px; 
  }
  .home-weather {
    width: 400px; 
  }
  .space {
    margin-left: 60px;
  }

}

@media (max-width: 1200px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 350px; 
  }
  .home-weather {
    width: 350px; 
  }
  .space {
    margin-left: 25px;
  }

}

@media (max-width: 1005px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 350px; 
  }
  .home-weather {
    width: 350px; 
  }
  .space {
    margin-left: 25px;
  }

}

@media (max-width: 980px) {
  .home-profile{
    width: 300px;
  }
  .home-todo{
    width: 285px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 350px; 
  }
  .home-weather {
    width: 350px; 
  }
  .space {
    margin-left: -35px;
  }
  .my-page{
    width: 660px;
  }
}

@media (max-width: 933px) {
  .home-profile{
    width: 280px;
  }
  .home-todo{
    width: 265px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 320px; 
  }
  .home-weather {
    width: 320px; 
  }
 
  .space {
    margin-left: -35px;
  }
}

@media (max-width: 873px) {
  .home-profile{
    width: 280px;
  }
  .home-todo{
    width: 265px;
  }
  .home-center {
    display: none;
  }
  .home-calendar {
    width: 300px; 
  }
  .home-weather {
    width: 300px; 
  }
  .space {
    margin-left: -35px;
  }
}





body {
  min-width: 850px !important;
  margin: 0; /* 여백을 없애기 위해 body의 margin을 0으로 설정 */
  overflow-x: hidden !important;
}




