/* 1600px 이하일 때의 스타일 */
@media (max-width: 1320px) {
  .home-center {
    display: none; /* 해당 클래스의 엘리먼트를 숨김 */
  }
  .home-profile{
    width: 40%;
  }
  .home-todo{
    width: 100%;
  }
  .home-calendar {
    width: 450px; 
  }
  .home-weather {
    width: 450px;
  }
  .space {
    margin-left: 30px;
  }


}

@media (max-width: 1200px) {
  .home-profile{
    width: 320px;
  }
  .home-todo{
    width: 305px;
  }
  .home-calendar {
    width: 320px; 
  }
  .home-weather {
    width: 320px;
  }
  /* .space{
    margin-left: 30px;
  } */

}

@media (max-width: 9800px) {
  .home-profile{
    width: 250px;
  }
  .home-todo{
    width: 250px;
  }

  .home-calendar {
    width: 300px; 
  }
  .home-weather {
    width: 300px;
  }

}

@media (max-width: 805px) {
  .home-profile{
    width: 470px;
    height: 800px;
    margin-bottom: 0px;
  }
  .home-calendar {
    width: 450px; 
    height: 850px;
  }
  .home-todo{
    display: none;
  }
  .home-weather {
    display: none;
  }
  .row.h-50.mb-3.p-3.me-1.d-flex.graybox.justify-content-center.align-items-center {
    margin-bottom: 0 !important; /* margin-bottom 제거 */
  }
  .mb-3{
    margin-bottom: 0 !important;
  }


}





