/* 1600px 이하일 때의 스타일 */
@media (max-width: 1600px) {
    .col-5 {
      display: none; /* 해당 클래스의 엘리먼트를 숨김 */
    }
    .col-3{
        width: 40%;
    }
    .col-4 {
        width: 60%; /* 100%의 너비를 가지도록 함 */
      }

  }
@media (max-width: 600px) {
    .col-5 {
      display: none; /* 해당 클래스의 엘리먼트를 숨김 */
    }
    .col-3{
        width: 90%;
    }
    .col-4 {
        display: none; /* 해당 클래스의 엘리먼트를 숨김 */
      }

  }
